<form method="post" action="/regist">
<table>
<tr>
<td>id</td>
<td><input type="text" name="name" /></td>
</tr>
<tr>
<td>pass</td>
<td><input type="password" name="password" /></td>
</tr>
</table>
<input type="submit" value="æ–°è¦ç™»éŒ²" />
</form>
