<form method="post" action="/todo">
<input type="text" name="todo">
<input type="submit" value="追加">
</form>



<table border = 1>
<% @todos.each {|todo| %>
<tr>
<td>
<%= h todo[:id] %>
</td>

<td>
<%= h todo[:todo] %>
</td>
</tr>
<% } %>
</table>